*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    color: white;
}
.header{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
}
.logo{
    position: relative;
    font-size: 25px;
    color:blueviolet;
    text-decoration: none;
    font-weight: 600;
}
.navbar a{
    display: inline-block;
    color:blueviolet;
    font-size: 25px;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}
.navbar a:hover{
    color: lightpink;
}
.home{
    position: relative;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    background: url("./purpleBG.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}